@model LuresWebApp.Models.LureDetails

@functions {

    private string ResizePhoto(WebImage photo)
    {
        //WebImage photo = WebImage.GetImageFromRequest("~/Content/Images/IMG_4930.JPG");
        photo.Resize(200, 200).RotateRight();
        //photo.RotateRight();
        var base64string = Convert.ToBase64String(photo.GetBytes());
        return base64string;
    }

}
<div class="card card col-sm-3">
    <div class="card-image">
        <img class="thumbnail" src="@string.Format("data:image/jpg;base64,{0}", ResizePhoto(new WebImage(Model.ImageUrl)))"/>
    </div>
    <h4>How many caught: @Html.TextBoxFor(model => model.Caught,
                               new Dictionary<string, object>() { { "id", "caught"+@Model.Id }, { "txtPlace", 3 }, { "class", "numberWide" }, {"type", "number"}, {"onchange", string.Format("addCaught({0})", @Model.Id)} })</h4>

    
    <h4>How many you got: @Html.TextBoxFor(model => model.Inventory,
                         new Dictionary<string, object>() { { "id", "inventory" + @Model.Id }, { "txtPlace", 3 }, { "class", "numberWide" }, { "type", "number" }, { "onchange", string.Format("addInventory({0})", @Model.Id) } })</h4>
</div>

